.container-fluid {
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: 100%;
}
.cur-nav-item {
  font-family: quantum;
  letter-spacing: 2px;
  font-size: 3rem;
  color: white;
}
.nav-arrow {
  width: 1.5rem;
  margin-top: -1rem;
  margin-left: 1.5em;
}
.title-bg {
  background-image: url("../../assets/banner_mobile.png");
  background-color: #000000;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  background-position: top center; /* optional, center the image */
  height: 5em;
  width: 100%;
}
.title {
  font-family: quantum;
  font-size: 5.5em;
  display: table;
  margin: 0 auto;
  margin-top: 0.2em;
  margin-bottom: 0.1em;
  letter-spacing: 2px;
  color: black !important;
}
.title:hover {
  color: black;
  text-decoration: none;
}
.navbar {
  background-color: #000000 !important;
  font-family: quantum;
  letter-spacing: 2px;
}
.nav-item {
  font-size: 1.75rem;
}
.nav-item:hover {
  cursor: pointer;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: rgb(192, 192, 192);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(192, 192, 192);
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.picture {
  padding-bottom: 20px;
  height: 100%;

}
.picture:hover {
  opacity: 0.7;
  cursor: pointer;
}
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 400px;
  width: auto;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 2000;
}
.hor-height {
  max-height: 220px;
}
.full {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: black;
  opacity: 0.9;
  overflow: hidden;
}
.sticky {
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
  width: 100%;
  left: 0;
  padding: unset;
}
.animateIn {
  transition: all 300ms ease-in-out;
  transform: translateY(0px);
}
.animateOut {
  transition: all 300ms ease-in-out;
  transform: translateY(-100%);
}
.goOut {
  transition: none;
  transform: translateY(-100%);
}
.pushed {
  margin-top: 98px;
}
.navbar-container {
  display: contents!important;
}
/* Landscape */
@media (min-width: 500px) and (orientation: landscape) {
  .title-bg {
    height: 23vw;
  }
  .nav-item {
    font-size: 1.2rem;
  }
  .navbar {
    display: grid;
  }
  .flex-fix {
    flex-direction: column!important;
  }
  .modal-content {
    max-height: 92vh;
  }

}
/* REALLY SMALL PHONES */
@media (max-height: 350px) {

}
/* tablet */
@media (min-width: 700px) {
  .navbar {
    display: grid;
  }
  .flex-fix {
    flex-direction: column!important;
  }
  .modal-content {
    max-height: 80vh;
  }
  .hor-height {
    max-height: 42vh;
  }
  .nav-item {
    font-size: 3vh;
  }
  .title-bg {
    height: 23vw;
  }
}
/* computer */
@media (min-width: 1000px) {
  .nav-item {
    font-size: 1.75rem;
  }
  .flex-fix {
    flex-direction: row!important;
  }
  .title-bg {
    background-image: url("../../assets/banner.jpg");
    height: 11vw;
  }
  .navbar-mobile-button {
    display: none;
  }

  .sticky {
    padding: .5rem 1rem;
  }
  .container-fluid {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }
  .picture {
    padding-bottom: 30px;
    height: 100%;
  }
  .modal-content {
    max-height: 80vh;
    max-width: 80vw;
  }
  .nav-item {
    font-size: 3vw;
    padding-right: 1vw;
    padding-left: 1vw;
  }
}
