<a class="title" [routerLink]="['/']" routerLinkActive="router-link-active"
  >PHOTOGRAPHY</a
>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center" [class.sticky] = "sticky" #stickyMenu>
  <ul class="navbar-nav nav-fill w-100">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" (click)="changeCat(0,$event)" id="first">PEOPLE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="changeCat(1,$event)">COMPOSITIONS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="changeCat(2,$event)">FOOD</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="changeCat(3,$event)">LANDSCAPES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="changeCat(4,$event)">OTHER</a>
    </li>
  </ul>
</nav>
<div *ngIf="modalOpened">
  <div class="full" (click)="modalOpened=false"></div>
  <img class="modal-content" src="../../assets/pics/{{curCategory}}/{{modalPic}}">
</div>

<div class="row">
  <div class="column" *ngFor="let col of columns">
    <img ng-image-placeholder *ngFor="let pic of col" src="../../assets/pics/{{curCategory}}/min-{{pic}}" class="picture" (click)="openModal(pic)"/>
  </div>
  <div class="column" *ngFor="let col of columns">
    <img *ngFor="let pic of col" src="../../assets/pics/{{curCategory}}/{{pic}}" class="picture" (click)="openModal(pic)"/>
  </div>
</div>
