<div class="title-bg">
  <div style="margin-top: 1rem" id="scrollTarget"></div>
</div>

<nav
  class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center"
  [class.sticky]="sticky"
  [class.animateIn]="sticky && !scrollDown"
  [class.goOut]="sticky && scrollDown && !scrolledUpOnce"
  [class.animateOut]="sticky && scrollDown && scrolledUpOnce"
  #stickyMenu
>
  <div class="navbar-mobile-button" (click)='mNavbarOpen = !mNavbarOpen'>
    <span class="cur-nav-item">{{ curCategory }}</span>
    <img class="nav-arrow" src="../../assets/arrow.png" />
  </div>
  <div class="navbar-container" *ngIf="screenWidth > 1000 || mNavbarOpen">
    <ul class="navbar-nav nav-fill w-100 flex-fix">
      <li class="nav-item">
        <a class="nav-link" (click)="scroll()">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="screenWidth > 1000" (click)="changeCat(0, $event)" id="first"
          >PEOPLE</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="changeCat(1, $event)">COMPOSITIONS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="changeCat(2, $event)">FOOD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="changeCat(3, $event)">LANDSCAPES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="changeCat(4, $event)">OTHER</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div *ngIf="modalOpened" (click)="modalOpened = false">
    <div class="full" ></div>
    <img
      class="modal-content"
      [class.hor-height]="modalHor"
      src="../../assets/pics/{{ curCategory }}/{{ modalPic }}"
    />
  </div>

  <div [class.pushed]="sticky" *ngIf="curCategory != categories[1]">
    <div *ngFor="let fRow of fData">
      <div class="row">
        <img
          *ngFor="let pic of fRow[0]"
          src="../../assets/pics/{{ curCategory }}/{{ pic }}"
          class="picture col-lg-4 col-md-4"
          [class.col-sm-4]="screenWidth >= 500"
          [class.col-sm-12]="screenWidth < 500"
          (click)="openModal(pic)"
        />
      </div>
      <div class="row">
        <img
          *ngFor="let pic of fRow[1]"
          src="../../assets/pics/{{ curCategory }}/{{ pic }}"
          class="picture col-lg-6 col-md-6"
          [class.col-sm-6]="screenWidth >= 500"
          [class.col-sm-12]="screenWidth < 500"
          (click)="openModal(pic, true)"
        />
      </div>
    </div>
  </div>

  <div [class.pushed]="sticky" *ngIf="curCategory == categories[1]">
    <div *ngFor="let fRow of data">
      <div class="row">
        <img
          *ngFor="let pic of fRow"
          src="../../assets/pics/{{ curCategory }}/{{ pic }}"
          class="picture col-lg-4 col-md-4 col-sm-12"
          (click)="openModal(pic)"
        />
      </div>
    </div>
  </div>
</div>

<!-- <div class="row" [class.pushed]="sticky">
  <div class="column" *ngFor="let col of columns">
    <img
      *ngFor="let pic of col"
      lazyLoad="../../assets/pics/{{ curCategory }}/{{ pic }}"
      defaultImage="../../assets/pics/{{ curCategory }}/min-{{ pic }}"
      errorImage='../../assets/pics/{{ curCategory }}/{{ pic }}'
      class="picture"
      (click)="openModal(pic)"
    />
  </div>

</div> -->
