/* You can add global styles to this file, and also import other style files */


@font-face {
  font-family: quantum;
  src: url("/assets/Quantum.otf");
}
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}
